# CLASS AND OBJECT

## Employee Details :

In [28]:
class employee:
    empcount=0
    #creating the constructor for thw employee class
    def __init__(self,name,designation,salary):
        self.name=name;  
        self.designation=designation
        self.salary=salary
        employee.empcount +=1 # for counting the number of employees 
    def details(self):
        print("*****************************************")
        print("employee name\t     :",self.name)
        print("employee designation :",self.designation)
        print("employee salary\t     :",self.salary)
        print("*****************************************")
        print("\n")
    def count(self):
        print("there are {} employees  ".format(employee.empcount))
#e1.count()
e1=employee("rakesh","freelancer",215000) #creating the object for the class and giving the parameters reqired
e2=employee("chandhu","programmer",500004) #creating the object for the class and giving the parameters reqired
e3=employee("sandeep","advisor",965324) #creating the object for the class and giving the parameters reqired

e1.details() #printing the details by calling the method "details"
e2.details()
e3.details()
e3.count()

*****************************************
employee name	     : rakesh
employee designation : freelancer
employee salary	     : 215000
*****************************************


*****************************************
employee name	     : chandhu
employee designation : programmer
employee salary	     : 500004
*****************************************


*****************************************
employee name	     : sandeep
employee designation : advisor
employee salary	     : 965324
*****************************************


there are 3 employees

## Person  Details:
### checking the eligibility for voting

In [23]:
import datetime
class person():
    def __init__(self,name,DOB):
        self.name=name
        self.DOB=DOB
    def check(self):
        today=datetime.date.today()
        age=today.year-self.DOB.year
        if (age>=18):
            print("*******************************************************")
            print("Congragulation",self.name,"your egible for the voting")
            print("THANK yOU your age is ",age)
            print("*******************************************************")
            print("\n")
        else:
            print("Sorry",self.name,"Your are not eligible for the voting")
            print("THANK yOU")
p1=person("badrinadh".upper(),datetime.date(2001,4,11)).check()
p2=person("chandhu".upper(),datetime.date(1993,4,11)).check()
p3=person("sandeep".upper(),datetime.date(1998,4,11)).check()
p4=person("ram".upper(),datetime.date(1999,4,11)).check()

*******************************************************
Congragulation BADRINADH your egible for the voting
THANK yOU your age is  20
*******************************************************


*******************************************************
Congragulation CHANDHU your egible for the voting
THANK yOU your age is  28
*******************************************************


*******************************************************
Congragulation SANDEEP your egible for the voting
THANK yOU your age is  23
*******************************************************


*******************************************************
Congragulation RAM your egible for the voting
THANK yOU your age is  22
*******************************************************

# Student details:
### checking the performance

In [33]:
class student:
    def __init__(self,name,rollnum,m1,m2,m3,m4,m5):
        self.name=name
        self.rollnum=rollnum
        self.m1=m1
        self.m2=m2
        self.m3=m3
        self.m4=m4
        self.m5=m5
    def result(self):
        total=self.m1+self.m2+self.m3+self.m4+self.m5
        avg=total/5
        print("*******************************************************")
        print("ANURAG GROUP OF INSTITUTIONS\n")
        print("Student Name   \t      :",self.name)
        print("student roll number   :",self.rollnum)
        print("Total Score \t      :",500)
        print("Your score   \t      :",total)
        if (avg>=90):
            print("Congragulations",self.name,"you have secured A grade")
        elif(avg>=80):
            print("Congragulations",self.name,"you have secured B grade")
        elif(avg>=70):
            print("Congragulations",self.name,"you have secured C grade")
        elif(avg>=60):
            print("Congragulations",self.name,"you have secured D grade")
        else:
            print("Sorry",self.name,"your are failed")
        print("*******************************************************")
        print("\n")
        
s1=student("chandhu".upper(),"18H61A0296",85,78,98,95,92).result()
s2=student("rahul".upper(),"18H61A02A4",85,78,98,95,92).result()
s3=student("sandeep".upper(),"18H61A0265",85,78,98,95,92).result()
s4=student("shiva".upper(),"18H61A0268",85,78,98,95,92).result()
s5=student("david".upper(),"18H61A0266",5,7,98,95,92).result()

*******************************************************
ANURAG GROUP OF INSTITUTIONS

Student Name   	      : CHANDHU
student roll number   : 18H61A0296
Total Score 	      : 500
Your score   	      : 448
Congragulations CHANDHU you have secured B grade
*******************************************************


*******************************************************
ANURAG GROUP OF INSTITUTIONS

Student Name   	      : RAHUL
student roll number   : 18H61A02A4
Total Score 	      : 500
Your score   	      : 448
Congragulations RAHUL you have secured B grade
*******************************************************


*******************************************************
ANURAG GROUP OF INSTITUTIONS

Student Name   	      : SANDEEP
student roll number   : 18H61A0265
Total Score 	      : 500
Your score   	      : 448
Congragulations SANDEEP you have secured B grade
*******************************************************


*******************************************************
ANURAG GROUP OF INSTITUTIONS

Student Name   	      : SHIVA
student roll number   : 18H61A0268
Total Score 	      : 500
Your score   	      : 448
Congragulations SHIVA you have secured B grade
*******************************************************


*******************************************************
ANURAG GROUP OF INSTITUTIONS

Student Name   	      : DAVID
student roll number   : 18H61A0266
Total Score 	      : 500
Your score   	      : 297
Sorry DAVID your are failed
*******************************************************